{% extends "base.html" %}
{% load static %}
{% block css %}
  <script src="{% static 'question/question.js' %}"></script>
  <link rel="stylesheet" href="{% static 'question/question.css' %}">
{% endblock css %}
{% block content %}
{{status}}
<p class="text-center"><strong>{{question.title}}</strong></p>
<table class="table">
  <tbody>
    <tr>
      <th scope="col">Author</th>
      <td>{{question.author}}</td>
      <th scope="col">Score</th>
      <td>{{question.score}} &nbsp;
      {% if status == "liked" %} 
        <button id="like" class="btn btn-light"><a href="{% url 'question:liker_view' pk=question.id order='liked' %}"><img id="active_like_image" src="{% static 'question/a_like.png' %}"></a></button>
        <button class="btn btn-light" id="dis_like"><a href="{% url 'question:liker_view' pk=question.id order='disliked' %}"><img id="dis_like_image" src="{% static 'question/dislike.png' %}"></a></button>
      {% elif status == "disliked" %}
        <button id="like" class="btn btn-light"  ><a href="{% url 'question:liker_view' pk=question.id order='liked' %}"><img id="like_image" src="{% static 'question/like.png' %}"></a></button>
        <button class="btn btn-light" id="dis_like" ><a href="{% url 'question:liker_view' pk=question.id order='disliked' %}"><img id="dis_like_image" src="{% static 'question/a_dislike.png' %}"></a></button>      
      {% else %}
        <button id="like" class="btn btn-light"  ><a href="{% url 'question:liker_view' pk=question.id order='liked' %}"><img id="active_like_image" src="{% static 'question/like.png' %}"></a></button>
        <button class="btn btn-light" id="dis_like" ><a href="{% url 'question:liker_view' pk=question.id order='disliked' %}"><img id="dis_like_image" src="{% static 'question/dislike.png' %}"></a></button>
      {% endif %}
      <th scope="col">view</th>
      <td>{{question.views}}</td>
    </tr>
    <tr>
      <th scope="col">Publish</th>
      <td>{{question.publish}}</td>
      <th scope="col">Update</th>
      <td>{{question.update}}</td>
      <th scope="col">Tags</th>
      <td>{{question.tags.all|join:","}}</td>
    </tr>
  </table>
    <section id="question-detail-body">
      <p>{{question.body}}</p>
    </section>
  <hr id="question-comment-seprator">
    <p class="text-center"><strong>Comments</strong></p>
{% for comment in question.comments.all  %}
  <table class="table">
    <thead class="thead-light">
      <tr class="table-active">
        <th scope="col">#</th>        
        <th scope="col">Author</th>
        <th scope="col">Publish</th>
        <th scope="col">Update</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td scope="row">{{comment.author}}</td>
        <td scope="row">{{comment.publish}}</td>
        <td scope="row">{{comment.update}}</td>
        <td scope="row">{{comment.score}}</td>
      </tr>
    </tbody>
    </table>
    <p id="question_detail_comment_body">{{comment.content}}</p>
  {% endfor %}
  <p>Your answer</p>
  <form method="POST" action="{% url 'question:comment_form' question.id %}" id="comment-form">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="save" class="btn btn-dark">
  </form>
{% endblock content %}
