#password-change-result-sentence{
    font-size:1.5em;
}

#register-form{
    margin:5% 0 5% 0;
  }
  
  
  #login-form{
    margin-top:10%;
  }
  
  .register-form-label,.password-reset-form-label,.password-change-form-label{
    display:block;  
  }   
  
  #password-reset-form-btn,#register-form-btn,#password-change-form-btn{
    display:block;
    border-radius:5%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
  }
  
  #password_reset_form{
    margin-top:10%;  
  }
  
#timer_table{
  width:120px;
  text-align:center;
  float:right;
  width:10vw;
}

#account_activator_field{
  margin:1% 0 1% 0;
}

#account_activator_fields{
  width:75vw;
  text-align:center;
  float:left;
}

.error{
  color:red;
}

.success{
  color:green;
}
