#Ignore virtualenv 
/AB_env/

#Ignore media files 
src/media/
src/media/ .gitkeep

#Ignore bytecodes 
__pycache__/
.py[co]

#Ignore database 
db.sqlite3

#Ignore os environment 
.bash_profile

#Ignore migrations 
migrations/
