#base-footer{
  position: fixed;
    bottom: 0;
    width: 100%;
}

#question-review-seprator{
  border:2px double;
}

#homepage-question-body{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch
}

#pagination{
  text-align:center;
}

#question-detail-body{
  padding:1%;
  margin:2%;

}

#question_detail_review_body{
  padding:1%;
  margin:1%;

}

#login-form,#register-form{
  margin-top:10%;
}

.register-form-label{
  display:block;  
}   

#register-form-btn{
  display:block;
  border-radius:2%;
  margin-left:auto;
  margin-right:auto;
}