#content{
  height:100vh;
}
#base-footer{
  bottom:0px;
  left:0px;
  position:fixed;
  width:100%;
  margin-top:10%;
}

header{
  min-height:50px;
  background:lightcyan;
   }


#question-comment-seprator{
  border:2px double;
}

#search_btn:hover{
  color:white;
  background-color:rgba(48, 44, 44, 0.993);
}

#homepage-question-body{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

#pagination{
  text-align:center;
  margin:auto auto 0 auto;

}

#question-detail-body{
  padding:1%;
  margin:2%;

}

#question_detail_comment_body{
  padding:1%;
}

