#comment-form{
    margin-bottom:10%;
}

#question-form-container{
    text-align:center;
    margin:auto;
    width:80%;
}

#question-form-btn{
    display:block;
    margin:auto;
    margin-top:1%;
    
}

