{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="author" charset="ahmadihamed231@gmailcom">
        <link rel="stylesheet" href="{% static 'base.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script> 
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">AB</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'question:homepage' %}">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
              </ul>
              <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">                     
                      <i>Search</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </nav>
          <section id="body">
          {% block content %}
          {% endblock content %}
          </section>
          <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.924);">
              © 2020 Copyright:
              <a class="text-dark" href="mailto:ahmadihamed231@gmail.com">ahmadihamed231@gmail.com</a>
            </div>
            <!-- Copyright -->
          </footer>
        </body>
</html>