{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="author" charset="ahmadihamed231@gmailcom">
        <link rel="stylesheet" href="{% static 'base.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script> 
        <script src="{% static 'js/searcher.js' %}"></script>
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'question:homepage' %}">AB</a>      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'question:homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'question:question_form' %}">Ask question</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:logout_view' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account:login_view' %}">Login</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account:register_view' %}">Sign up</a>
            </li>
          {% endif %}
          </ul>
            <form class="navbar-form ml-auto">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search"  name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" id="search_btn">                     
                    <i>Search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          </li>
      </nav>
      <br>
          <section id="content">
          {% block content %}
          {% endblock content %}
          </section>
          <footer class="bg-light text-center text-lg-start" id="base-footer">
            <!-- Copyright -->
            <div class="text-dark  text-center p-3" style="background-color: rgba(0, 0, 0, 0.924);">
              © 2021 Copyright :
              <a class="text-muted" href="mailto:ahmadihamed231@gmail.com">ahmadihamed231@gmail.com</a>
            </div>
            <!-- Copyright -->
          </footer>
        </body>
</html>