{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'account/account.css' %}" >
{% endblock css %}
{% block content %}
<div class="text-center pt-5">  
    <p><strong>Please fill this form out to change your password</strong></p>
    <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
            <span class="password-change-form-label">{{field.label}}</span>{{field}}
        {% endfor %}
        <input value="save" type="submit" id="password-change-form-btn" class="btn btn-dark"> 
    </form> 
    {% for error in form.errors %}
        {{error}}
    {% endfor %}
</div>
{% endblock content %}