{% extends "base.html" %}
{% block content %}
<div class="text-center p-3" id="register-form">
    <p><strong>Please fill this form out to sign up.</strong></p>
    <form method="post" action=".">
        {% for field in form %}
            <label class="register-form-label">{{field.label}}</label>
            {{field}}
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="register" id="register-form-btn" class="btn btn-dark"> 
        {% for error in form.non_field_errors %}    
            <p class="text-danger p-3"><i>{{error}}</i></p>
        {% endfor %}
    </form>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}
