{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'account/account.css' %}" >
{% endblock css %}
{% block content %}
<div class="text-center p-3" id="register-form">
    <p><strong>Please insert the new password.</strong></p>
<form method="POST" action=".">
    {%csrf_token%}
    {% for field in form %}
        <p id="password-reset-form-label">{{field.label}}</p>{{field}}
    {% endfor %}
    <input class="btn btn-dark" id="password-reset-form-btn" type="submit" value="confirm">
 {% for field, errors in form.errors.items %}
    {% for error in errors %}    
        <p class="text-danger p-3"><i>{{error}}</i></p>
    {% endfor %}
{% endfor %}
</form>
    <ul>
        <li>A password can not have less than 8 characters</li>
        <li>A password must include numbers and alphabets</li>
    </ul>
</div>

{% endblock content %}